button {
  width: 4rem;
  height: 4rem;
  background-color: #00b31f;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border: none;
  cursor: pointer;
  transition: 200ms linear;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

button:hover {
  transform: scale(1.1);
}

.icon {
  color: #fff;
}
