<section>
  <div class="title">
    <h1>Itens mais vendidos</h1>
  </div>
  <div class="content">
    <div class="items">
      <div class="grid">
        <img src="assets/airForce.png" alt="airForce" />
        <p>Nike Air Force branco R$ 799,99</p>
        <button (click)="postProduct()"><p>Adicionar</p></button>
      </div>
    </div>
    <div class="items">
      <div class="grid">
        <img src="assets/ultraBoost.png" alt="airForce" />
        <p>Addidas Ultra Boost preto R$ 350,00</p>
        <button (click)="postProduct()"><p>Adicionar</p></button>
      </div>
    </div>
    <div class="items">
      <div class="grid">
        <img src="assets/airMaxBacon.png" alt="airForce" />
        <p>Nike Air Max 90 baicon R$ 499,99</p>
        <button (click)="postProduct()"><p>Adicionar</p></button>
      </div>
    </div>
    <div class="items">
      <div class="grid">
        <img src="assets/airMaxSilver.png" alt="airForce" />
        <p>Nike Air Max 90 silver R$ 1000,00</p>
        <button (click)="postProduct()"><p>Adicionar</p></button>
      </div>
    </div>
    <div class="items">
      <div class="grid">
        <img src="assets/teslaCoilSolar.png" alt="airForce" />
        <p>Tesla Coil Solar R$ 200,00</p>
        <button (click)="postProduct()"><p>Adicionar</p></button>
      </div>
    </div>
    <div class="items">
      <div class="grid">
        <img src="assets/airJordan4.png" alt="airForce" />
        <p>Nike Air Jordan 4 R$ 2000,00</p>
        <button (click)="postProduct()"><p>Adicionar</p></button>
      </div>
    </div>
  </div>
</section>
